.b-vt {
  font: normal 14px sans-serif;
  display: table;
  margin-bottom: 50px;
}
.b-vt__tabs,
.b-vt__contents {
  display: table-cell;
  vertical-align: top;
}
.b-vt__tabs {
  border-style: solid;
  border-width: 1px 0;
  border-color: #dddddd;
  background-color: #dddddd;
}
.b-vt__tab {
  width: 200px;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent #ffffff;
  background-color: #dddddd;
  cursor: pointer;
}
.b-vt__tab_selected {
  border-color: transparent transparent #ffffff #dddddd;
  background-color: #e4ff99;
  cursor: default;
}
.b-vt__contents {
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-color: #dddddd;
  background-color: #e4ff99;
}
.b-vt__content {
  font-size: 12px;
  display: none;
  padding: 0 10px;
}
.b-vt__content_selected {
  display: block;
}
.b-lorem {
  display: none;
}
